* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.navbar h2 {
  margin: 25px 25px;
  font-weight: 600;
  font-size: 25px;
  color: #0094ff;
  cursor: pointer;
}

.right-side-elements {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar li {
  margin: 25px 25px;
  text-decoration: none;
  list-style: none;
}

.contact-btn {
  padding: 7px 15px;
  background: #4682B4;
  color: white;
  margin: 15px 30px;
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#active {
  color: #0094ff;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 100px 200px;
  background: #e9f6ff;
  max-height: 55vh;
}

.hero-content {
  max-width: 50%;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 45px;
  font-size: 35px;
}

.hero-content p {
  line-height: 31px;
  color: grey;
}

.highlight {
  color: #0094ff;
}

.hero-links {
  margin-top: 50px;
}

.contact,
.viewMore {
  padding: 12px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.contact {
  background: #4682B4;
  color: #fff;
  margin-right: 10px;
}

.viewMore {
  background: #fff;
  border: 1px solid #0094ff;
  color: #0094ff;
}

.hero-image img {
  height: 400px;
}

.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 200px;
  gap: 40px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-box {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 40px;
  height: 40px;
}

.service-text h4 {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 5px;
  font-weight: 600;
}

.service-text p {
  font-size: 0.9rem;
  color: grey;
}

.service-next {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 600;
}

.service-next-text {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: grey;
  line-height: 30px;
  margin-bottom: 50px;
}

.feature {
  padding: 100px 100px;
}

.feature article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.feature img {
  width: 40%;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  margin: 100px auto;
}

.left {
  width: 55%;
}

.right img {
  width: 650px;
  height: 500px;
  /* transform: rotate(20deg); */
}

.icon-title {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.left h2 {
  line-height: 35px;
  margin-bottom: 35px;
}

.icon {
  background: #00c4cc;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.icon-1 {
  background: #004aad;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.icon-2 {
  background: purple;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.icon img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.icon-text h4 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin: 0;
  margin-bottom: 5px;
}

.icon-text p {
  font-size: 15px;
  color: grey;
}

.blue-text {
  color: #0099ff;
}

.description {
  color: grey;
  font-size: 15px;
  line-height: 1.8;
  max-width: 550px;
}

.right-1 img {
  width: 500px;
  height: 500px;
  margin-right: 150px;
}

.right-2 img {
  height: 375px;
  width: 630px;
  margin-top: -100px;
  margin-right: 65px;
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.container {
  /* border: 1px solid black; */
  background-color: rgb(231, 231, 231);
  padding: 60px;
  padding-bottom: 40px;

  width: 431px;
  border-radius: 18px;
}

.container-title {
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.container-body {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: rgb(83, 83, 83);
}

.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-more a {
  text-decoration: none;
  background-color: #0099ff;
  padding: 12px 27px;
  margin-top: 35px;
  color: white;
  border-radius: 10px;
}

.container-1 {
  /* border: 1px solid black; */
  background-color: #24a8f5;
  padding: 60px;
  padding-bottom: 40px;

  width: 431px;
  border-radius: 18px;
}

.container-title-1 {
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.container-body-1 {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.view-more-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-more-1 a {
  text-decoration: none;
  background-color: white;
  padding: 12px 27px;
  margin-top: 35px;
  color: #4682b4;
  border-radius: 10px;
  font-weight: 600;
}

.partners h3 {
  text-align: center;
  margin-top: 150px;
  font-size: 25px;
  font-weight: 600;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  margin: 25px 200px;
}

.subscribe {
  background-color: #e9f6ff;
  padding: 150px 200px;
}

.subscribe h2 {
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.subscribe-form input {
  width: 400px;
  height: 27px;
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

.subscribe-btn {
  width: 180px;
  height: 55px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding: 60px 80px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
}

.footer-logo {
  color: blue;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-col-2,
h4 {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-col-1,
.footer-col-3 p {
  color: grey;
  line-height: 1.6;
  font-size: 14px;
}

.footer-col-2 ul {
  list-style: none;
}

.footer-col-2 ul li {
  margin-bottom: 8px;
}

.footer-col-2 ul li a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
  font-weight: 100;
}

.phone {
  margin-top: 10px;
}

.footer-handle {
  margin-top: 15px;
  font-weight: 500;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 80px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  /* border-top: 1px solid #eee; */
  margin-top: 10px;
  padding-top: 15px;
  font-size: 13px;
  color: #777;
}
